html, body {
    font-family: Arial;
  }

  * {
    box-sizing: border-box;
  }

  #app{
    width: 1080px;
    margin: auto;
    font-family: “adobe-clean”, sans-serif;
    color:#5C5C5C,
}


  .mainstyle {
    padding-bottom: 15px !important;
  }

.myphoto{
  display: flex;
}

   button {
    float:inline-start;
    width: 15%;
    padding: 14px;
    background: #d8dadb;
    color: rgb(14, 13, 13);
    font-size: 10px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  


  
  ::after {
    content: "";
    clear: both;
    display: table;
  }

  
.search-input{
padding: 15px 45px 15px 15px;
font-size: 15px;
border-color: black;
width: 80%;
font-family: 'Montserrat', sans-serif;
transition : all .4s;
}

.search-btn {
background-color: transparent;
font-size:18px ;
padding : 6px 9px;
margin-left: -100px;
border : none ;
transition: all .4s;
z-index: 10;
}



  #question {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #question li a {
    border: 1px solid #ddd;
    margin-top: -1px;
  
    background-color: #f6f6f6;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display:contents
  }

  #question li a:hover:not(.header) {
    background-color: #eee;
  }

  .MoreAnswerdQuestions{
    width:200px;
    height:50px;
  }

  .AddQuestions{
    margin-top:29px;
    width:200px;
    height:50px;
  }

  #adding{
    margin-left: 15px;
}
.Addanswer{
  float: right;
  display: flex;
  margin-bottom: -35px;

}
  .btn-add{
    margin-left: 400px;
    margin-left: 280px;
    margin-top: -80px;  
}
  .answer{
    font-size: 14px;
    margin-left: 22px;
    margin-top: -33px;
    color: #5C5C5C;
  }

.col-2 {
  padding-bottom: 10px  !important;
  display: inline-block;
}

.mainstyle{
  padding-bottom:15px !important;
}
.user{
  font-size: 14px;
  margin-left: 22px;
  margin-top: 20px;
  color: #5C5C5C;
  
}
.one-Question-Helpful{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px; 
}


.Vertical-Line{
    border-left: 1.4px solid #5C5C5C;
    height: 50px;
    margin-bottom: -3px;
    display: inline-block;
}
.asa{
margin-right: 20px;
margin-left: 20px;
}
.Count-Helpful-Yes{
  display: flex;
  font-size: 10px;
  margin-right: 10px;
}
.yesandreport{
  margin-left: 20px;
  display: flex;

}
.Report2{
  margin-left:20px;
  text-decoration: underline;
  cursor: pointer;
}
.Yes1{
  text-decoration: underline;
  cursor: pointer;
  margin-right: 5px;
}
.Report5{
  /* margin-left:20px; */
  text-decoration: underline;
  cursor: pointer;
}
.Yes5{
  text-decoration: underline;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 5px;
}
.youcan{
  margin-top: 20px;
}
.mybuttn1{
  border: 1.3px solid;
  margin-left: 30px;
  display: inline-block;
  width:260px;
  height:60px;
  background:white;
}
.mybuttn2{
  border: 1.3px solid;
  margin-left:50px;
  width: 200px;
  height:60px;
  background:white;
}
.im2{
   margin-right: 10px;
}
.im3{
  width:100px;
  height:80px;
  margin-left: 10px;
  margin-right:10px
}
.im4{
  width:100px;
  height:80px;
margin-left: 10px;
}
.icon {
  position: relative !important;
  float: right !important;
}




